import init.lenok.usb.rc
import init.lenok.wifi.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on init
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"

    # Set permissions for persist partition
    mkdir /persist 0771 system system

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # Setup zram options
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4

    # Force kernel read only 1 page at a time
    write /proc/sys/vm/page-cluster 0

on fs
    mount_all /fstab.lenok
    swapon_all /fstab.lenok

on post-fs
    restorecon_recursive /persist
    restorecon /persist/bdaddr.txt

on post-fs-data
    # Load ADSP firmware
    write /sys/kernel/boot_adsp/boot 1

    # Update touch firmware if required
    write /sys/bus/i2c/devices/5-0020/check_fw 1

    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/misc/batteryd 0700 system system

    # AKM setting data
    mkdir /data/misc/sensors
    chmod 775 /data/misc/sensors

    # Create directory used by sensor subsystem
    mkdir /persist/sensors
    chmod 775 /persist/sensors
    write /persist/sensors/sensors_settings 1
    chmod 660 /persist/sensors/sensors_settings

    # CPU frequency, suspend and governor
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/lpm_levels/system/cpu0/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu1/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu2/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu3/pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu0/standalone_pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu1/standalone_pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu2/standalone_pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu3/standalone_pc/suspend_enabled 1
    write /sys/module/lpm_levels/system/cpu0/standalone_pc/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu1/standalone_pc/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu2/standalone_pc/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu3/standalone_pc/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu0/pc/idle_enabled 1
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 998400
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1400000:80000 1500000:40000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1400000:90 1700000:95"
    write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 100000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000

    setprop vold.post_fs_data_done 1

on boot
    write /sys/class/power_supply/battery/charging_enabled 0
    write /sys/module/msm_thermal/core_control/enabled 0
    # NOTE: The number of cores online should be kept in sync with
    # dalvik.vm.image-dex2oat-threads and dalvik.vm.boot-dex2oat-threads in device.mk
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 998400
    write /sys/module/msm_thermal/core_control/enabled 1

    chown system system /sys/kernel/debug/kgsl/proc
    chown system system /sys/bus/i2c/devices/5-0020/idle_mode

    setprop ro.radio.noril yes

    chmod 0600 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    chmod 0600 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state

    # Load Modem firmware
    write /sys/kernel/debug/msm_subsys/modem get
    write /sys/kernel/debug/msm_subsys/modem put

    # adsp subsystem restart
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"

    # Disable network time update
    setprop config.disable_networktime true

    # Set the fix freq to 200MHz for KGSL
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 200000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 200000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance

    # Set display alive check interval
    write /sys/module/mdss_dsi/parameters/interval 2000

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

on property:sys.boot_completed=1
    exec /res/asset/sync
    write /proc/sys/vm/drop_caches 3
    write /sys/block/mmcblk0/queue/scheduler "bfq"
    write /sys/class/power_supply/battery/charging_enabled 1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "smartmax_eps"
    start mpdecision
    write /sys/module/msm_thermal/core_control/enabled 1

# bugreport is triggered by ActivityManagerService::requestBugReport(BUGREPORT_OPTION_FULL)
service bugreport /system/bin/dumpstate -d -p -B -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

service clockwork_proxy /system/bin/ClockworkProxy
    class main

# QCOM Sensor
service sensors /system/bin/sensors.qcom
    class main
    user root
    group root wakelock radio nobody

service irsc_util /system/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

service mpdecision /system/bin/mpdecision --avg_comp
    user root
    disabled

service custom_script /system/bin/sh /sbin/init.custom.sh
    seclabel u:r:init:s0
    class late_start
    user root
    group root
    oneshot
